
/* ====================================== INCLUDE GOOGLE SEARCH CSS ====================================== */
@import url("https://www.google.com/cse/style/look/default.css");
@import url("quickstart.css");

/* ====================================== CONTENT ====================================== */

body {
    padding-left: 0px !important;
    line-height: normal !important;
}

h1.title {
	background-color: transparent !important;
	color: #2A5C7E !important;
	padding: 0px !important;
	margin: 0.75em 10px 0.75em 10px !important;
	font-size: 18pt !important;
	line-height: normal;
}
h2.title {
	background-color: transparent !important;
	color: #2A5C7E !important;
	padding: 0px !important;
	margin-top: 1.5em !important;
	margin-bottom: 0.75em !important;
	line-height: normal;
}
h2.sectiontitle, h3.title, h4.title, h5.title {
	background-color: transparent !important;
	color: black !important;
	margin: 1.5em 0 0.75em 0 !important;
	padding: 0px !important;
	line-height: normal;

}
div.body, div.topic, body > p.shortdesc {
    /* 
    added div.topic to fix formatting for nested topics. 
    added body > p.shortdesc to fix formatting when topic contains only a short description
    */
    margin: 0.75em 10px 0 10px !important;
    font-size: 10pt !important;
}
div.topic div.body {
    margin: 0.75em 0 0 0 !important;
}
pre.codeblock {
    /* respect whitespace but wrap to available width */
    white-space: pre-wrap;
}
pre.msgblock, samp.msgph {
    /* Wrap normally + collapse sequences of whitespace */
    white-space: normal;
    font-family: arial, helvetica, sans-serif;
    background-color: #eee;
}
pre.msgblock {
    border: 1px solid #c0c0c0;
    padding: 2px 4px;
}
span.apiname {
    font-weight: bold;
}

a {
    text-decoration: none !important;
    color: #00C !important;
}

dt.dlterm {
    margin-top: 1em;
}


p.stepsection {
    font-weight: bold;
    }

div.note {
    margin-left: 20px;
    padding: 2px 4px;
    display: block;
    border: 1px solid #F9D2A8;
    background: #FFFFCC  no-repeat scroll;
}
div.note:before {
    display: run-in;
    position: relative;
    left: -24px;
    top: -4px;
    margin-right: -16px;
    content: url("assets/images/note_icon.png");
    z-index: 0;
    height: 0;
}
div.tip {
    border: 1px solid #A5D8FF;
    background: #EAF7FF  no-repeat scroll;
}
div.tip:before {
    content: url("assets/images/tip_icon.png");
}
div.important {
    border: 1px solid #FFC5B4;
    background: #FFE8E0  no-repeat scroll;
}
div.important:before {
    content: url("assets/images/important_icon.png")  ;
}
div.fastpath {
    border: 1px solid #7AB362;
    background: #D8EED0  no-repeat scroll;
}
div.fastpath:before {
    content: url("assets/images/bestpractice_icon.png")  ;
}
ul li, ol li {
    list-style-image: none;
    }
    
li.li {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
ul[compact] li, ol[compact] li {
    margin-top: .25em;
    margin-bottom: .25em;
}

ol.steps {
    counter-reset: steps 0;
}

li.step {
    counter-increment: steps 1;
}
/* ======== lists in table cells — un-indent ======== */
/* Only for first-level lists, and only for lists specialized from ol or ul
   Use 1em outdent on first line and 1em left padding to simulate marker block
   since width of number is unknown. 
   Formatting will be imperfect for numbers more than one digit (rare),
   but instead of bleeding left outside the table cell, it will run
   into the list item text.
*/
td > ol.ol, td > ul.ul {
    padding-left: 1em;
}
td > ol.ol > li, td > ul.ul > li {
    list-style-position: inside;
    text-indent: -1em;
}
td > ol.ol > li > *, td > ul.ul > li > * {
    text-indent: 0em;
}
/* ================================================== */

span.uicontrol[class~="keyboard"] {
    text-transform: uppercase;
    font-weight: normal !important;
}
span.uicontrol > img {
    padding-right: 0px; /* overrrides default css padding of 5px */
}

img.image {
    /* usually looks a bit better for icons in line with text */
    vertical-align: middle;
}
table span.menucascade img.image {
    /* edge case where text does not get aligned correctly */
    vertical-align: top;
}

div.fig {
    margin: 1em 0;
}
div.fig > img.image {
    max-width: 100%;
}
div.fig > img.image:active {
    max-width: none;
}

span.b {
    font-weight: bold;
}

.term {
    font-weight: bold !important;
    font-style: normal !important;
}
dd.dd {
    margin-bottom: 0.25em;
}
div.prereq {
    margin-left: 0 !important;
}
dt.prereq {
    margin-left: 0 !important;
    font-weight: bold;
}
a.xref {
    word-wrap: break-word; /* allow long URLs to break in xrefs */
}

.ExampleRed {
    color: red;
}
.Math {
    font-family: STIXGeneral, Times, serif;
}
.overline {
    text-decoration: overline;
}




/* ====================================== TABLES ====================================== */
table.table, table.simpletable, table.choicetable  {
    border-collapse: collapse;
    margin: 1em 0;
}
table.table, table.table tr, table.table td, table.table th,
table.simpletable, table.simpletable tr, table.simpletable td, table.simpletable th,
table.choicetable, table.choicetable tr, table.choicetable td, table.choicetable th
{
    border: 1px solid #A5D8FF;
}

th, td[id] {
    background: #EAF7FF  no-repeat scroll;
}
td[headers],th[headers] {
    background: none white;
    text-align:left;
}
/*
tr.sthead,
thead > tr,
table.exampletable tr>td:first-child {
    background: #EAF7FF  no-repeat scroll;
}
*/
table.table td>*:first-child, 
table.table td>strong>*:first-child, 
table.table td>*>li:first-child, 
table.table th>*:first-child,  
table.simpletable td>*:first-child, 
table.simpletable td>strong>*:first-child, 
table.simpletable td>*>li:first-child, 
table.simpletable th>*:first-child,  
table.choicetable td>*:first-child, 
table.choicetable td>strong>*:first-child, 
table.choicetable td>*>li:first-child, 
table.choicetable th>*:first-child  
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



/* ====================================== HEADER ====================================== */

div.webassign_header {
	font-size: 10pt;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.25em;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 24px;
	text-align: right;
	vertical-align: middle;
    border-bottom: 1px solid #CCCCCC;
    background: #EEEEEE ;
    z-index: 3;
    /*min-width: 680px;*/
}
a.logoaction {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    cursor: pointer;
}

a.actionlink {
    padding: 4px;
    margin-right: 12px;
    cursor: pointer;
    color: #00C !important;
    }
a.actionlink > img, a.actionlink > span {
    vertical-align: middle;
}
a.framesaction {
    /*background: transparent url("assets/images/application_side_list.png") no-repeat 0% 50%;*/
    /*margin-right: 0;*/
    }
a.noframesaction {
    /*background: transparent url("assets/images/application_view_list.png") no-repeat 0% 50%;*/
    }
span.actionsep {
    margin-left: -12px; /* Remove the previous action's right margin */
    color: black !important;
}
a.framesCurrentState {
    display: none; /* don't display icon for current frame state */
}

a.printaction {
    /*background: transparent url("assets/images/printer.png") no-repeat 0% 50%;*/
    }
a.feedbackaction {
    /*background: transparent url("assets/images/page_white_edit.png") no-repeat 0% 50%;*/
    }
a.csaction {
    /*background: transparent url("assets/images/email.png") no-repeat 0% 50%;*/
    }
@media print {
    div.webassign_header {
        display: none;
    }
}
@media screen and (max-width: 625px) {
    /* Change layout if window width is less than 680px (browsers that support CSS3) */
    a.actionlink span {
        display: none; /* don't display text */
    }
}



/* ====================================== FOOTER ====================================== */



div.webassign_footer {
	font-size: smaller;
	line-height: normal;
    margin: 2em 10px 0;
	text-align: center;
	border-top: 1px solid #cccccc;
}
div.related-links div.webassign_footer {
    margin: 2em 0 0;
}


/* ====================================== NAVIGATION ====================================== */

div.related-links {
    border-top: none;
    margin: 24px 10px 0px 10px;
}

div.related-links ul.ullinks, div.related-links ol.olchildlinks {
    margin-top: 0;
}
div.related-links ul.ullinks:before, div.related-links ol.olchildlinks:before {
    content: "This section contains the following topics:";
    display: block;
    font-weight: bold;
    margin-left: -40px; /* because ul/ol have 40px left padding. Tested in IE/FF/Safari/Chrome */
} 
li.olchildlink > a {
    font-weight: bold; /* Display topic name in bold like unordered lists */
}
dl.prereqlinks > dd {
    margin-left: inherit; /* left align instead of indenting, consistent with other related links */
}


div.relinfo {
}

table.nav {
    margin-bottom: 4px;
    font-size: 8pt;
    margin-top: 27px;
}
table.nav td {
    text-align: right;
}


div.navfooter {
/* hide this */
    display: none;
}

object {
    /* for videos */
    border: 1px solid #C0C0C0;
    /* drop shadow (don't worry about IE) */
    -moz-box-shadow: 5px 5px 13px #808080;
    -webkit-box-shadow: 5px 5px 13px #808080;
    box-shadow: 5px 5px 13px #808080;
}

/* ====================================== TOC PANE ====================================== */
div.footer {
    font-size: 8pt !important;
	white-space: nowrap;
}

div.contentsHeader {
    /*border-bottom: 1px solid #CCC;*/
    margin-bottom: 1em;
    font-size: 9pt;
    text-align: right;
    padding-right: 4px;
}
.contentsHeader a {
    cursor: pointer;
    color: #00C !important;
    }


body > h1:first-child {
	/*width: 100%;*/
	background: no-repeat scroll 0px 6px #EEEEEE ;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 4px !important;
	padding-left: 4px !important;
	font-size: 10pt !important;
	white-space: nowrap;

}
#contentAndSearchDiv {
	background-color: #eeeeee;
	margin: 0px !important;
	padding-top: 1em;
	padding-bottom: 0px !important;
	color: #eeeeee;
	border-bottom: 1px solid #cccccc !important;
	white-space: nowrap;
}
#divContent {
    margin-left: 8px;
    border: 1px none;
}
#divSearch {
    border: 1px none;
}
#contentAndSearchDiv .normalLink, #contentAndSearchDiv .activeLink {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 4px 12px !important;
	font-size: 13px !important;
	position: relative;
	bottom: 4px;
	
}
#contentAndSearchDiv .normalLink {
	background-color: white !important;
	border-bottom: 1px solid white;
	font-weight: bold;
	color: black;
	font-size: 13px !important;
}
#contentAndSearchDiv .activeLink {
	background-color: #e9e9e9 !important;
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	color: #666666;
	font-size: 13px !important;
}
div#displayContentDiv, div#searchDiv {
    margin-top: 4px;
}

div#tab_nav_tree {
    font-size: 9pt;
}
ul.treeview {
    padding-left: 0px !important;
}

.treeview .hitarea {
	background: url("http://www.webassign.net/wastatic/questions/img/expand_sprite_blue.png") 0px 10px no-repeat !important;
	height: 11px !important;
	width: 11px !important;
    margin-left: -12px !important;
}

.treeview li { 	
	/*background: url("http://www.webassign.net/wastatic/questions/img/expand_sprite_blue.png") 0px -25px no-repeat !important;*/
	background: none !important;
}
.treeview li.collapsable, .treeview li.expandable { 
    background-position: 0 -176px; 
}
.treeview .expandable-hitarea { 
    background-position: 0px 0px !important; 
}
.treeview .collapsable-hitarea { 
    background-position: 0px -10px !important; 
}


.treeview ul {
    padding-left: 0px !important;
}

.treeview li a {
    /*white-space: nowrap;*/
    color: black !important;
    display: inline-block;
    /*
    padding: 0 0 0 2em !important;
    display: inline-block;
    text-indent: -1.75em;
    */
}
    
.treeview li a.selected {
    background-color: transparent !important;
    color: black !important;
    font-weight: bold;
}


/* ====================================== SEARCH ====================================== */

div#google_search_form {
    padding: 0px 0px 10px 4px;
    /*width: 100%;*/  /* Caused horiz. scrollbar to display */
}
/* hide the "clear search" button */
td.gsc-clear-button {display: none !important;}
/* make the search form fit better in div */
/*table.gsc-search-box {width: 95% !important;}*/


div#searchDiv {
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 9pt;
}
div#searchDiv form {
    color: white;
}
input.textToSearch {
    border: 1px solid #CCCCCC;
    width: 235px;
    font-size: 10pt;
}
input.searchButton {
    border: 1px solid #CCCCCC;
    margin-left: 0px !important;
    margin-top: 4px;
	background-color: #eeeeee;
}
div#searchResults {
    font-size: 9pt;
}
span.searchExpression {
    color: #2A5C7E !important;
}
ul.searchresult {
    /*display: block;*/
    padding-left: 0px;
}
ul.searchresult li {
    display: block;
    margin-top: 0.5em;
}
.searchresult .shortdesclink {
    color: #666666;
    font-size: 8pt !important;
}
.searchresult #star {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 4px;
}

a.foundresult, a.otherlink {
    font-size: 9pt !important;
    }
div#star {
    /* to hide search ranking stars:
    display: none;
    */
}

div.gs-web-image-box {
    display: none; /* suppress image thumbnails in search results */
}

/* ====================================== FEEDBACK ====================================== */

.feedback_drawer {
    position: fixed;
    top: 27px;
    width: 100%;
    /*height: 260px;*/
    display: block;
    padding: 10px;
    border: 1px solid #CCC;
    background-color: #EEE;
    text-align: left;
    z-index: 3;
}

/* Push down nav table if feedback is expanded */
table.nav[class~=with_feedback] {
    margin-top: 310px !important;
}
table.nav[class~=no_feedback] {
    margin-top: 30px !important;
}
/* Hide feedback form when printing */
@media print {
    div.feedback_drawer {
        display: none !important;
    }
    table.nav {
        margin-top: 30px !important;
    }
}
.feedback_drawer form:before{
    content: attr(title);
    font-weight: bold;
    font-size: larger;
}

.feedback_drawer p {
    margin: 0.25em 2em 0.5em 0em;
}
.feedback_drawer input, .feedback_drawer textarea {
    margin: 0px 0px 3px 0px !important;
    font-family: inherit;
    font-size: inherit;
    padding-right: 0; /* for IE radio buttons */
}
.feedback_drawer input[type=text], .feedback_drawer textarea {
    border: 1px solid #999;
    margin-top: auto !important;
    vertical-align: top;
    width: 28em;
}
.feedback_drawer input:focus:after {
    content: attr(alt);
}

.feedback_drawer input[readonly] {
    background-color: #EEE;
}
.feedback_drawer input#feedback_status_detail {
    width: 14em;
}

.feedback_drawer textarea {
    height: 7em;
    resize: none;
}
.feedback_drawer .formField, .feedback_drawer fieldset {
    display: block;
    width: 100%;
    vertical-align: middle;
    /*margin: 0.33em 0em 0em 0em;*/
    border: none;
    padding: 0;
    margin-left: 0;
    white-space: nowrap;
}
.feedback_drawer .formField > label, .feedback_drawer legend {
    display: block; /* inline-block ? */
    width: 12em;
    vertical-align: top;
    font-weight: bold;
    padding: 0;
    float: left;
}
.feedback_drawer fieldset label {
    display: inline-block;
    margin-right: 1em;
}
.feedback_drawer fieldset label:first-child {
    /*margin-left: 0em;*/
}
/*
.feedback_drawer .formField input {
    display: inline-block;
    vertical-align: top;
}
*/
.feedback_drawer span.feedback_err {
    position: absolute;
    left: 42em;
    color: #D00;
}




button, input[type="button"], input[type="submit"], a.button {
    background: url(https://www.webassign.net/wastatic/common/img/sButtonBackground.gif) repeat scroll 0 0 #CCC;
    color: #333;
    border: 1px solid #AAA;
    border-color: #CCC #AAA #AAA #CCC;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    /* counteract Google's border rounding */
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 2px 6px 3px;
    font-size: 8pt;
}
button[disabled], input[type="button"][disabled], input[type="submit"][disabled], a.button[disabled] {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #AAA;
    border-color: #DDD #CCC #CCC #DDD;
    cursor: default;
}
.feedback_drawer #feedback_help {
    font-size: 8pt;
    margin-top: 2em;
    padding-right: 4em;
    
}
/*
.feedback_drawer .formField label:first-child, .feedback_drawer fieldset legend {
    display: inline-block;
    width: 8em;
    vertical-align: text-top;
    font-size: 8pt;
    font-weight: bold;
    padding: 0;
    float: left;
}

 */

/*
.feedback_drawer div.left {
    float: left;
    width: 470px;
}
.feedback_drawer div.stacked {
    display: block;
}
.feedback_drawer div.right {
    color: #999;
    font-size: 8pt;
}
.feedback_drawer div.right p {
    padding-right: 4em;
}

 */
/*
.feedback_drawer div.radiogroup {
    display: inline-block;
    vertical-align: top;
    display: relative;
    top: -1em;
    left: 8em;
}
.feedback_drawer div.radio {
    vertical-align: middle;
    display: inline-block;
    margin-right: 1.5em;
}
.feedback_drawer div.radio label {
    vertical-align: text-top;
}
.feedback_drawer div.radio input {
    width: auto;
    margin: auto;
}
 */






/* ====================================== GOOGLE SEARCH ====================================== */
  .gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  input.gsc-input {
    border-color: #CCCCCC !important;
    /* Hide Google logo (looks like ad) */
    background: none repeat scroll 0% 0% white !important;
    width: 95% !important;
    font-size: 15px !important;
    padding: 4px !important;
    
    
}
table.gsc-search-box td.gsc-input {
    padding-right: 4px !important;
}

  input.gsc-search-button {
    /* using style defined elsewhere in stylesheet for input[type="submit"] */
    /* additional background */
    /* http://www.webassign.net/wastatic/common/img/faculty/find.png */
    /* Use CSS3 to specify multiple background images */
    background-image: url(https://www.webassign.net/wastatic/common/img/faculty/find.png), url(https://www.webassign.net/wastatic/common/img/sButtonBackground.gif);
    background-position: 8px 50%, 0 0;
    background-repeat: no-repeat, repeat;
    height: 24px !important;
    padding-right: 8px;
    padding-left: 28px;
    margin-right: 4px;
  }
  .gsc-result-info {
      display: none !important;
  }
  .gsc-tabHeader.gsc-tabhInactive {
    display: inline;
    font-size: 9pt !important;
    border: none !important;
    background: none !important;
/*    border-color: #E9E9E9;
    background-color: #E9E9E9;
*/  }
  .gsc-tabHeader.gsc-tabhActive {
    display: inline;
    font-size: 9pt !important;
    border: none !important;
    background: none !important;
    font-weight: bold !important;
/*    border-top-color: #FF9900;
    border-left-color: #E9E9E9;
    border-right-color: #E9E9E9;
    background-color: #FFFFFF;
*/  }
  .gsc-tabsArea {
    font-size: 9pt !important;
    border-color: #E9E9E9;
  }
  div.gs-per-result-labels {
    display: inline !important;
  }
  div.gs-per-result-labels > span {
    display: none !important; /* Don't show "Labeled:" text */
  }
  div.gs-per-result-labels > a.gs-label {
    font-size: 8pt !important;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    background: #666;
    border-radius: 2px;
    padding: 0 !important;
  }
  .gsc-webResult.gsc-result {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 9pt !important;
  }
  .gsc-webResult.gsc-result:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 9pt !important;
  }
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b {
    color: #00C;
    text-decoration: none;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b {
    color: #00C;
    text-decoration: none;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b {
    color: #00C;
    text-decoration: none;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b {
    color: #00C;
    text-decoration: none;
  }
  .gsc-cursor-page {
    color: #0000CC;
  }
  a.gsc-trailing-more-results:link {
    color: #0000CC;
  }
  .gs-webResult.gs-result .gs-snippet {
    color: #666666;
    font-size: 8pt !important;
  }
  .gs-webResult.gs-result .gs-visibleUrl {
    color: #008000;
  }
  .gs-webResult.gs-result .gs-visibleUrl-short {
    color: #008000;
  }
  .gs-webResult.gs-result .gs-visibleUrl-short {
    display: block;
  }
  .gs-webResult.gs-result .gs-visibleUrl-long {
    display: none;
  }
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    border: 1px solid #FF9900;
    background-color: #FFFFFF;
  }
  .gs-promotion.gs-result {
    border-color: #336699;
    background-color: #FFFFFF;
  }
  .gs-promotion.gs-result a.gs-title:link {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:visited {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:hover {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:active {
    color: #0000CC;
  }
  .gs-promotion.gs-result .gs-snippet {
    color: #000000;
  }
  .gs-promotion.gs-result .gs-visibleUrl,
  .gs-promotion.gs-result .gs-visibleUrl-short {
    color: #008000;
  }
  .gs-visibleUrl {
  display: none !important;
  }
  .gsc-adBlock, .gsc-adBlockVertical  {
  border: 4px solid orange !important;
  }
  .gs-result .gs-title, 
  .gs-result .gs-title * {
      text-decoration: none !important;
      height: auto !important;
      
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
      color: #0000ff !important;
      text-decoration: none !important;
      font-weight: bold !important;
      }
 div.gs-title, a.gs-title, a.gs-title:link b {
     font-size: 9pt !important;
 }

