<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.dita-ot.plugin.webhelp">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="1.0.0"/>
  
  <feature extension="dita.conductor.transtype.check" value="webhelp" type="txt"/>
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>
  <feature extension="dita.xsl.maplink" value="xsl/nextPrevFullIteration.xsl" type="file"/> 
</plugin>
