@import url(//fonts.googleapis.com/css?family=GFS+Didot&subset=greek);

/* =============================== OVERRIDE PLUGIN FONTS =============================== */
html,
body,
div#searchresults *[class^='gs'],
div#searchresults *[class^='gs'] *,
button,
input,
select,
textarea {
    font-family: "Open Sans", Arial, sans-serif !important;
}

/* ====================================== BRANDING ====================================== */
div.brand_header > h1.logo {
    width: 300px;
    height: 92px;
    
    margin: 0;
    padding: 0;
    display: block;
    background: transparent url(img/WA_logo_MASTER_WEB.svg) no-repeat 16px 25px;
    background-size: 290px;
    text-indent: -9999px;
}
@media screen and (max-height: 750px) {
    div.brand_header > h1.logo {
        height: 41px;
        
        background-position: 23px 13px;
        background-size: auto;
    }
}


/* ====================================== CONTENT ====================================== */


div.body, div.topic, body > p.shortdesc {
    /* 
    added div.topic to fix formatting for nested topics. 
    added body > p.shortdesc to fix formatting when topic contains only a short description
    */
    /*margin: 0.75em 10px 0 10px !important;*/
}
.shortdesc {
    font-style:italic;
    font-size:large;
    
}
pre.codeblock {
    /* respect whitespace but wrap to available width */
    white-space: pre-wrap;
}
pre.msgblock, samp.msgph {
    /* Wrap normally + collapse sequences of whitespace */
    white-space: normal;
    font-family: "Open Sans", Arial, sans-serif ;
    background-color: #eee;
}
pre.msgblock {
    white-space: pre-line;
    border: 1px solid #c0c0c0;
    padding: 2px 4px;
}
span.apiname {
    font-weight: bold;
}
p.stepsection {
    font-weight: bold;
    }

/* =================================== Definition Lists =================================== */
dt.dlterm {
    margin-top: 1em;
}
dd.dd {
    margin-bottom: 0.25em;
}
dl[compact] > dt.dlterm {
    display: inline-block;
    width: 20%;
    text-align:right;
    vertical-align: top;
    margin-top:auto;
}
dl[compact] > dd.dd {
    display: inline-block;
    width: 70%;
    margin-left: 10px;
    vertical-align:top;
    color: #444;
}
td > dl:first-child > dt:first-child {
    margin-top: 0px;
}
td > dl > dd {
    margin-left: 0px;
}

/* =================================== Notes =================================== */
div.note {
    margin-left: 20px;
    padding: 2px 4px;
    display: block;
    border: 1px solid #F9D2A8;
    background: #FFFFCC  no-repeat scroll;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.note:before {
    display: run-in;
    position: relative;
    left: -24px;
    top: -4px;
    margin-right: -16px;
    content: url("img/note_icon.png");
    z-index: 0;
    height: 0;
}
div.tip {
    border: 1px solid #A5D8FF;
    background: #EAF7FF  no-repeat scroll;
}
div.tip:before {
    content: url("img/tip_icon.png");
}
div.important {
    border: 1px solid #FFC5B4;
    background: #FFE8E0  no-repeat scroll;
}
div.important:before {
    content: url("img/important_icon.png")  ;
}
div.fastpath {
    border: 1px solid #7AB362;
    background: #D8EED0  no-repeat scroll;
}
div.fastpath:before {
    content: url("img/bestpractice_icon.png")  ;
}
div.note>span:first-child+ul {
    margin-top:-0.5em;
}


ul li, ol li {
    list-style-image: none;
    }
    
li.li {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
ul.ul > li.li > p, 
ul.ul > li.li > div, 
ul.ul > li.li > pre, 
ul.ul > li.li > blockquote, 
ul.ul > li.li > dl, 
ul.ul > li.li > table {
    font-size: 90%;
} 
ul.ul > li.li > p:only-child {
    font-size: 100%;
}

ul[compact] li, ol[compact] li {
    margin-top: .25em;
    margin-bottom: .25em;
}

ol.steps {
    counter-reset: steps 0;
    list-style-type: none;
}

ol.steps > li.step {
    counter-increment: steps 1;
}
ol.steps > li.step:before {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 42px;
    text-align: right;
    content: counter(steps) " ";
    font-weight: bold;
    color: black;
    /* colors: green=7ab362 orange=ffa500 red=cc0000 gray=646669 */
}

li.step p.p {
    margin: 0.5em 0 !important;
}


/* ======== lists in table cells — un-indent ======== */
/* Only for first-level lists, and only for lists specialized from ol or ul
   Use 1em outdent on first line and 1em left padding to simulate marker block
   since width of number is unknown. 
   Formatting will be imperfect for numbers more than one digit (rare),
   but instead of bleeding left outside the table cell, it will run
   into the list item text.
*/
td > ol.ol, td > ul.ul {
    padding-left: 1em;
}
td > ul.sl, td > ul.simple {
    padding-left: 0em;
}
td > ol.ol > li, td > ul.ul > li {
    list-style-position: inside;
    text-indent: -1em;
}
td > ol.ol > li > *, td > ul.ul > li > * {
    text-indent: 0em;
}
/* First-level lists in tables in steps should be numeric, not alpha */
li.step table td > ol.ol[type="a"] {
    list-style-type: decimal;
}




/* ================================================== */

span.uicontrol[class~="keyboard"] {
    text-transform: uppercase;
    font-weight: normal !important;
}
span.uicontrol > img {
    padding-right: 0px; /* overrrides default css padding of 5px */
}

img.image {
    /* usually looks a bit better for icons in line with text */
    vertical-align: middle;
}
table span.menucascade img.image {
    /* edge case where text does not get aligned correctly */
    vertical-align: top;
}

div.fig {
    margin: 1em 0;
}
div.fig.figborder, iframe.object, object {
    display: inline-block;
    padding: 20px !important;
    border: 1px solid #C0C0C0 !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
div.fig.figsides {
    display: inline-block;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-left: 1px solid #C0C0C0 !important;
    border-right: 1px solid #C0C0C0 !important;
}
div.fig.top {
    display: inline-block;
    padding-top: 20px !important;
    border-top: 1px solid #C0C0C0 !important;
}
div.fig.bottom {
    display: inline-block;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #C0C0C0 !important;
}
div.fig.topbot {
    display: inline-block;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-top: 1px solid #C0C0C0 !important;
    border-bottom: 1px solid #C0C0C0 !important;
}

div.fig > img.image, div.fig > embed.image {
    max-width: 100%;
}
div.fig > img.image:active {
    max-width: none;
}
div.fig.slide {
    width: 400px;
    background-color: #eee !important;
    border: 2px solid red;
    color: black !important;
    font-style: normal !important;
    padding: 0.25em !important;
    margin: 0.25em;
}

span.b {
    font-weight: bold;
}

.term {
    font-weight: bold !important;
    font-style: normal !important;
}
div.prereq {
    margin-left: 0 !important;
}
dt.prereq {
    margin-left: 0 !important;
    font-weight: bold;
}
a.xref {
    word-wrap: break-word; /* allow long URLs to break in xrefs */
}

.ExampleRed {
    color: red;
}
.Math {
    font-family: 'Times New Roman', 'GFS Didot', STIXGeneral, serif;
}
.overline {
    text-decoration: overline;
}




/* ====================================== TABLES ====================================== */
table.table, table.simpletable, table.choicetable  {
    border-collapse: collapse;
    margin: 1em 0;
    font-size: small;
}
table.table, table.table tr, table.table td, table.table th,
table.simpletable, table.simpletable tr, table.simpletable td, table.simpletable th,
table.choicetable, table.choicetable tr, table.choicetable td, table.choicetable th
{
    border: 1px solid #A5D8FF;
}

th, td[id], td.shaded {
    background: #EAF7FF  no-repeat scroll;
}
td[headers],th[headers] {
    background: none transparent;
    text-align:left;
}
/*
tr.sthead,
thead > tr,
table.exampletable tr>td:first-child {
    background: #EAF7FF  no-repeat scroll;
}
*/
table.table td>*:first-child, 
table.table td>strong>*:first-child, 
table.table td>*>li:first-child, 
table.table th>*:first-child,  
table.simpletable td>*:first-child, 
table.simpletable td>strong>*:first-child, 
table.simpletable td>*>li:first-child, 
table.simpletable th>*:first-child,  
table.choicetable td>*:first-child, 
table.choicetable td>strong>*:first-child, 
table.choicetable td>*>li:first-child, 
table.choicetable th>*:first-child  
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* ======= side by side sections ====== */
@media screen and (min-width: 1200px) {
    div.bodydiv.sidebyside > div.section,
    div.bodydiv.sidebyside > div.bodydiv {
        display: table-cell;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 400px;
    }
    div.bodydiv.sidebyside > div.section:first-child,
    div.bodydiv.sidebyside > div.bodydiv:first-child {
        padding-left: 0px;
    }
    div.bodydiv.sidebyside > div.section:last-child,
    div.bodydiv.sidebyside > div.bodydiv:last-child {
        padding-right: 0px;
    }
}

/* ====================================== Flagging ====================================== */

/*.audience-internal {
    background-color: #dd9999;
}
.audience-admin {
    background-color: #dac0da;
}
.audience-instructor {
    background-color: #d0eed0;
}
.audience-student {
    background-color: #f0e580;
}
.audience-student.audience-instructor {
    background-color:transparent; 
    /\* don't need to flag if both *\/
}*/
.platform-ipad:before {
    content:'iPad only: ';
    font-weight: bold;
}
.otherprops-draft {
    color: #933 !important;
    border: 1px dashed #933;
}
.otherprops-draft:before {
    content:'DRAFT';
    padding: 2px;
    margin: 0px;
    background-color: #933;
    color: #FFF;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px 12px 12px 0px;
}

/* ====================================== QUICKSTART ====================================== */


div.body.quickstart {
    width: 7.5in;
}

div.body.quickstart > div.bodydiv.right {
    /* right column */
    width: 2in;
    float: right;
}

div.body.quickstart > div.bodydiv.left {
    /* left column */
    width: 5.35in;
    float: left;
}
div.body.quickstart > div.bodydiv.left > div.section {
    padding-left: 18pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.body.quickstart, 
div.body.quickstart > p.shortdesc,
div.body.quickstart div {
    font-size: 8.5pt !important;
    line-height: 10.5pt;
}
div.body.quickstart > p.shortdesc {
    margin-top: 0;
    margin-bottom: 0.25em;
}
div.fn {
    font-size: 8pt !important;
    line-height: 10.5pt;
    width: 3in;
    border-top: 1px solid #ccc;
    clear:both;
    margin-top: 0 !important;

}
span.data.userdata {
    color: #0b79bd;
}


/* TITLES */
div.body.quickstart .title, h1.title.quickstart {
    text-transform: uppercase;
    color: #004FB3 !important;
}
h1.title.quickstart {
    width: 6in;
    padding-left: 1.5in;
    font-size: 24.5pt !important;
    font-weight:normal;
    text-align:right;
    letter-spacing: -1pt;
    margin: 0pt  !important;
    background-image:url("img/WA_logo_MASTER_WEB.svg");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: -3pt 5pt;
    line-height:1;
    padding-bottom: 10pt;
    -webkit-print-color-adjust:exact; /* print in chrome */

}
div.body.quickstart div.section.bar1 > h2.title.sectiontitle,
div.body.quickstart div.section.bar2 > h2.title.sectiontitle,
div.body.quickstart div.section.bar3 > h2.title.sectiontitle,
div.body.quickstart div.section.bar4 > h2.title.sectiontitle,
div.body.quickstart div.section.bar5 > h2.title.sectiontitle {
    font-size: 16pt;
    font-weight: bold;
    color: white !important;
    height: 30pt;
    padding: 11pt 0pt 0pt 40pt !important;
    margin-top: 0pt !important;
    margin-bottom: -13pt !important;
    margin-left: -18pt !important;
    background-repeat: no-repeat;
    background-size: 6in 43px;/* original: 787x57 */ 
    -webkit-print-color-adjust:exact; /* print in chrome */
}

div.body.quickstart div.section.bar1 > h2.title.sectiontitle { background-image:url("img/qsg_bar_1.png"); }
div.body.quickstart div.section.bar2 > h2.title.sectiontitle { background-image:url("img/qsg_bar_2.png"); }
div.body.quickstart div.section.bar3 > h2.title.sectiontitle { background-image:url("img/qsg_bar_3.png"); }
div.body.quickstart div.section.bar4 > h2.title.sectiontitle { background-image:url("img/qsg_bar_4.png"); }
div.body.quickstart div.section.bar5 > h2.title.sectiontitle { background-image:url("img/qsg_bar_5.png"); }


div.body.quickstart dd.dd {
    margin-left: 0pt;
}
div.body.quickstart ul[compact] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.body.quickstart div.right ul[compact], div.body.quickstart li > ul[compact] {
    padding-left: 12pt;
}
div.body.quickstart ul[compact] > li {
    margin-top: 0em;
    margin-bottom: 0em;
}
div.body.quickstart ol[compact] > li {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
div.body.quickstart div.section p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.body.quickstart ol.ol {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    counter-reset: qsteps 0;
    list-style-type: none;
}
div.body.quickstart ol.ol > li {
    counter-increment: qsteps 1;
}
div.body.quickstart ol.ol > li:before {
    display: inline-block;
    position: relative;
    left: -12px;
    overflow: visible;
    width: 0px;
    text-align: right;
    content: counter(qsteps, decimal);
    font-weight: bold;
}

div.body.quickstart ol[type="a"] {
    padding-left: 10pt;
    margin-top: 0;
    margin-bottom: 0;
    counter-reset: qsubsteps 0;
}
div.body.quickstart ol[type="a"] > li {
    counter-increment: qsubsteps 1;
}
div.body.quickstart ol[type="a"] > li:before {
    content: counter(qsubsteps, lower-alpha);
}

div.body.quickstart strong.big_qsg {
    display: block;
    text-align: center;
    margin-top: 3em;
}


div.body.quickstart strong.big_qsg > a.xref {
    display: inline-block;
    padding-top: 1em;
    line-height: 1.5;
    font-size: 12pt;
    width: 1in;
    height: 1.29in;
    border: 1px solid #369;

}
div.body.quickstart dl[compact] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.body.quickstart div.left dl[compact] > dd.dd {
    color: black;
    width: 76%;
    margin-left: 2pt;
    margin-bottom: 1em;
}
div.body.quickstart div.left dl[compact] > dd.dd:last-child {
    margin-bottom: 0;
}
div.body.quickstart div.right dl[compact] > dt.dlterm {
    display: block;
    width: auto;
    text-align:left;
}
div.body.quickstart div.right dl[compact] > dd.dd {
    color: #444;
    width: auto;
}

div.body.quickstart dd.dd > ul, div.body.quickstart dd.dd > ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}


div#topic > div.body.quickstart + * {
    clear: both;
    margin-top: 0 !important;
}



/*@media print {
    body.quickstart {
        width: 7.5in;
        height: 10in;
        padding: 0in !important;
    }
}*/


@media print {
    div.body.quickstart strong.big_qsg > a.xref,
    div#topic > div.body.quickstart + div#disqus_thread {
        display: none;
    }
}

/* ==================== API ==================== */

div.body.api div.example {
    margin: 0px 0px 4px -4px;
    background-color: #D8EED0;
    background: -webkit-linear-gradient(top,#D8EED0,#b6ccae);
    background: -moz-linear-gradient(left,#D8EED0,#b6ccae);
    background: linear-gradient(left,#D8EED0,#b6ccae);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0px 4px;
    border: 1px solid #7AB362;
}

div.body.api div.example dd.dd {
    margin-left: 0px;
}

div.related-links {
    clear: both;
}

@media screen and (min-width: 1199px) {
    div.body.api > div.bodydiv, div.body.api > div.example {
        width: 48%;
        vertical-align: top;
    }
    div.body.api > div.bodydiv {
        float: left;
    }
    div.body.api > div.example {
        float: right;
    }
}

/* ==================== MathJax ==================== */
div.MathJax_Display {
    text-align: left !important;
    margin: 0 !important;
}

/* ==================== Video Tutorial Scripts ==================== */
.vtscript .audience-internal {
    /*font-style:italic;*/
    display: inline-block !important;
    font-size: 13px;
    color: white;
    background: #369;
    padding: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.vtscript .audience-internal a, .vtscript .audience-internal a:link, .vtscript .audience-internal a:visited {
    color: #A5D8FF;
}
.vtscript th, .vtscript td[id] {
    background: none;
}
.small-caps {
    font-variant:small-caps;
}
