pre.codeblock.prettyprinted .pln{
    color:#000
}
@media screen{
    pre.codeblock.prettyprinted .str{
        color:#080
    }
    pre.codeblock.prettyprinted .kwd{
        color:#008
    }
    pre.codeblock.prettyprinted .com{
        color:#800
    }
    pre.codeblock.prettyprinted .typ{
        color:#606
    }
    pre.codeblock.prettyprinted .lit{
        color:#066
    }
    pre.codeblock.prettyprinted .pun,
    pre.codeblock.prettyprinted .opn,
    pre.codeblock.prettyprinted .clo{
        color:#660
    }
    pre.codeblock.prettyprinted .tag{
        color:#063
    }
    pre.codeblock.prettyprinted .atn{
        color:#606;
    }
    pre.codeblock.prettyprinted .atv{
        color:#933
    }
    pre.codeblock.prettyprinted .dec,
    pre.codeblock.prettyprinted .var{
        color:#606
    }
    pre.codeblock.prettyprinted .fun{
        color:red
    }
}
@media print, projection{
    pre.codeblock.prettyprinted .str{
        color:#060
    }
    pre.codeblock.prettyprinted .kwd{
        color:#006;
        font-weight:bold
    }
    pre.codeblock.prettyprinted .com{
        color:#600;
        font-style:italic
    }
    pre.codeblock.prettyprinted .typ{
        color:#404;
        font-weight:bold
    }
    pre.codeblock.prettyprinted .lit{
        color:#044
    }
    pre.codeblock.prettyprinted .pun,
    pre.codeblock.prettyprinted .opn,
    pre.codeblock.prettyprinted .clo{
        color:#440
    }
    pre.codeblock.prettyprinted .tag{
        color:#006;
        font-weight:bold
    }
    pre.codeblock.prettyprinted .atn{
        color:#404
    }
    pre.codeblock.prettyprinted .atv{
        color:#060
    }
}
pre.codeblock.prettyprinted {
    /*padding:2px 4px;*/
    padding: 0px;
    border:1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #eee;
    overflow:hidden;
}
pre.codeblock.prettyprinted ol.linenums{
    margin-top:0;
    margin-bottom:0;
    list-style-type: none;
    padding-left: 30px;
}
pre.codeblock.prettyprinted ol.linenums > li {
    counter-increment: linenumber;
    text-indent: -30px;
    padding-left: 6px;
}
pre.codeblock.prettyprinted ol.linenums > li:before {
    content: counter(linenumber);
    display: inline-block;
    width: 18px;
    padding-right: 12px;
    text-align: right;
    color: #999;
}
pre.codeblock.prettyprinted ol.linenums > li:only-child:before {
    content:"";
}

pre.codeblock.prettyprinted li.L0,
pre.codeblock.prettyprinted li.L2,
pre.codeblock.prettyprinted li.L4,
pre.codeblock.prettyprinted li.L6,
pre.codeblock.prettyprinted li.L8{
    background:#fff;
}